@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300");
@import url("https://fonts.googleapis.com/css?family=Montserrat:600");
@import url("https://fonts.googleapis.com/css?family=Assistant:200");
html, body {
  height: 100%;
  font-size: 1em;
  background-color: #eee;
  margin: auto;
  background: #A770EF;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #16aedf, #5469ec);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #16aedf, #5469ec);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.responsive {
  max-width: 100%;
  height: auto; }

.main-container {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  padding: 0 2em; }
  @media (max-width: 599px) {
    .main-container {
      padding: 0 0.5em; } }

.logo {
  display: flex;
  flex: 1 1 100%;
  justify-content: center;
  margin: auto; }

.nav {
  /* Positioning */
  display: flex;
  flex: 1 1 100%;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
  /* Styling */ }
  .nav ul {
    list-style-type: none; }
    .nav ul li {
      display: inline-block;
      text-align: center;
      font-size: 1.5rem;
      padding: 0;
      font-family: 'Source Sans Pro', sans-serif;
      color: #fff;
      margin: 0 1.5em; }
      .nav ul li a {
        color: #fff;
        text-decoration: none; }
        .nav ul li a:hover {
          border-bottom: 2px solid #fff; }

.hero {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 100%;
  justify-content: center;
  margin: auto; }
  .hero h1 {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 5.5em;
    padding: 0.5em 1em;
    color: #fff; }
    @media (max-width: 599px) {
      .hero h1 {
        font-size: 3.2em;
        padding: 0.5em 0.5em;
        text-align: center; } }
    @media (min-width: 600px) {
      .hero h1 {
        font-size: 5.5em;
        padding: 0.5em 0.5em; } }
    @media (min-width: 900px) {
      .hero h1 {
        font-size: 5.5em;
        padding: 0.5em 0.5em; } }
    @media (min-width: 1200px) {
      .hero h1 {
        font-size: 5.5em;
        padding: 0.5em 1em; } }

.container1 {
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  margin: 3em auto;
  justify-content: center;
  padding: 0 2em;
  flex-wrap: wrap; }
  @media (max-width: 599px) {
    .container1 {
      padding: 0 0.5em; } }
  .container1 .container1-text {
    display: flex;
    flex-direction: column;
    flex: 1 1 40%;
    order: 1; }
    @media (max-width: 599px) {
      .container1 .container1-text {
        flex: 1 1 100%; } }
    @media (min-width: 600px) {
      .container1 .container1-text {
        flex: 1 1 100%; } }
    @media (min-width: 900px) {
      .container1 .container1-text {
        flex: 1 1 40%; } }
    @media (min-width: 1200px) {
      .container1 .container1-text {
        flex: 1 1 40%; } }
    .container1 .container1-text h2 {
      font-family: 'Montserrat', sans-serif;
      font-size: 3.5em;
      color: #fff;
      margin: 0.5em 0; }
      @media (max-width: 599px) {
        .container1 .container1-text h2 {
          font-size: 2.5em;
          margin: 0.5 0;
          text-align: center; } }
    .container1 .container1-text p {
      font-family: 'Assistant', sans-serif;
      line-height: 1.6;
      font-size: 1.5rem;
      color: #eee;
      margin-top: 0.2em; }
  .container1 .container1-img {
    display: flex;
    flex-direction: column;
    flex: 1 1 40%;
    align-items: flex-start;
    order: 2; }
    @media (max-width: 599px) {
      .container1 .container1-img {
        flex: 1 1 100%;
        order: 2; } }
    @media (max-width: 599px) {
      .container1 .container1-img {
        flex: 1 1 100%; } }
    @media (min-width: 600px) {
      .container1 .container1-img {
        flex: 1 1 100%; } }
    @media (min-width: 900px) {
      .container1 .container1-img {
        flex: 1 1 40%; } }
    @media (min-width: 1200px) {
      .container1 .container1-img {
        flex: 1 1 40%; } }

.container2 {
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  margin: 3em auto;
  justify-content: center;
  padding: 0 2em;
  flex-wrap: wrap; }
  @media (max-width: 599px) {
    .container2 {
      padding: 0 0.5em; } }
  .container2 .container2-text {
    display: flex;
    flex-direction: column;
    flex: 1 1 30%;
    order: 2; }
    @media (max-width: 599px) {
      .container2 .container2-text {
        flex: 1 1 100%; } }
    @media (min-width: 600px) {
      .container2 .container2-text {
        flex: 1 1 100%; } }
    @media (min-width: 900px) {
      .container2 .container2-text {
        flex: 1 1 40%; } }
    @media (min-width: 1200px) {
      .container2 .container2-text {
        flex: 1 1 40%; } }
    .container2 .container2-text h2 {
      font-family: 'Montserrat', sans-serif;
      font-size: 3.5em;
      color: #fff;
      margin: 0.5em 0; }
      @media (max-width: 599px) {
        .container2 .container2-text h2 {
          font-size: 2.5em;
          margin: 0.5 0;
          text-align: center; } }
    .container2 .container2-text p {
      font-family: 'Assistant', sans-serif;
      line-height: 1.6;
      font-size: 1.5rem;
      color: #eee;
      margin-top: 0.2em; }
  .container2 .container2-img {
    display: flex;
    flex-direction: column;
    flex: 1 1 30%;
    align-items: flex-start;
    order: 1; }
    @media (max-width: 599px) {
      .container2 .container2-img {
        flex: 1 1 100%; } }
    @media (min-width: 600px) {
      .container2 .container2-img {
        flex: 1 1 100%; } }
    @media (min-width: 900px) {
      .container2 .container2-img {
        flex: 1 1 40%; } }
    @media (min-width: 1200px) {
      .container2 .container2-img {
        flex: 1 1 40%; } }

.testimonials {
  display: flex;
  flex-direction: column;
  margin: 2em 0;
  justify-content: center;
  padding: 3em 2em 1em 2em;
  background: #000; }
  .testimonials h3 {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    padding: 0em 0em;
    color: #fad801;
    margin: 0; }
    @media (max-width: 599px) {
      .testimonials h3 {
        font-size: 1.5em; } }
  .testimonials p {
    font-family: 'Assistant', sans-serif;
    line-height: 1.6;
    font-size: 1.5rem;
    color: #eee;
    margin-top: 0.2em;
    text-align: left; }

.container3 {
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  margin: 3em auto;
  justify-content: center;
  padding: 0 2em;
  flex-wrap: wrap; }
  @media (max-width: 599px) {
    .container3 {
      padding: 0 0.5em; } }
  .container3 h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5em;
    color: #fff;
    margin: 0.5em 0; }
    @media (max-width: 599px) {
      .container3 h2 {
        font-size: 2.5em;
        margin: 0.5 0;
        text-align: center; } }
  .container3 p {
    font-family: 'Assistant', sans-serif;
    line-height: 1.6;
    font-size: 1.5rem;
    color: #eee;
    margin-top: 0.2em; }

.container4 {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  margin: 3em auto;
  justify-content: center;
  padding: 0 2em;
  flex-wrap: wrap; }
  .container4 h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5em;
    color: #fff;
    margin: 0.5em 0; }
    @media (max-width: 599px) {
      .container4 h2 {
        font-size: 2.5em;
        margin: 0.5 0;
        text-align: center; } }
  .container4 .brand-logos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; }
    .container4 .brand-logos .logos {
      flex: 1 1 30%;
      padding-top: 3.5em; }
      @media (max-width: 599px) {
        .container4 .brand-logos .logos {
          flex: 1 1 100%; } }

.footer {
  display: flex;
  flex-direction: column;
  padding: 0 2em;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #000; }
  .footer .social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1em 0 1em 0; }
    .footer .social-icons i {
      margin: 0 0.5em 0 0.2em; }
  .footer .footer-links {
    display: flex;
    flex-direction: row;
    font-family: 'Assistant', sans-serif;
    font-size: 1rem;
    color: #afafaf; }
    .footer .footer-links .row1 {
      display: flex;
      flex-direction: column;
      padding: 0 1em;
      list-style-type: none; }
      .footer .footer-links .row1 li {
        margin: 0.2em 0; }
        .footer .footer-links .row1 li a {
          text-decoration: none;
          color: #afafaf; }
          .footer .footer-links .row1 li a:hover {
            text-decoration: underline; }
    .footer .footer-links .row2 {
      display: flex;
      flex-direction: column;
      padding: 0 1em;
      list-style-type: none; }
      .footer .footer-links .row2 li {
        margin: 0.2em 0; }
      .footer .footer-links .row2 a {
        text-decoration: none;
        color: #afafaf; }
        .footer .footer-links .row2 a:hover {
          text-decoration: underline; }
  .footer p {
    align-items: flex-start;
    font-family: 'Assistant', sans-serif;
    line-height: 1.6;
    font-size: 1rem;
    color: #afafaf; }

/*# sourceMappingURL=style.css.map */
